{% extends "layout.html" %}
{% block title %} - Contributors {% endblock %}
{% block content %}
	<h2 class="marginTop2P5P">Ardent Contributors</h2>
	<div class="fullContainer">
		<div class="informationBoxContainerContributor">
			<div class="informationBox">
				<div class="informationBoxContributorHeader">
					Site Manager/Main Developer
				</div>
				<!-- Place this tag where you want the widget to render. -->
				<div class="g-person" data-href="//plus.google.com/110914843431094732641" data-rel="author"></div>
				<div class="contributorContent">
					Jayakrishnan is the backbone of this project and he has put his blood and bone into it.
					He designed and developed a system which he believes is going to make a difference in your day to day budget.
					He is an ardent technology enthusiast who works as a Lead Developer (Python/Django/Google App Engine) in 
					<a href="http://uroleaf.com/">Uroleaf Technologies</a> a firm based out in Technopark Trivandrum (largest IT park in India).
				</div>
			</div>
		</div>
		<div class="informationBoxContainerContributor">
			<div class="informationBox">
				<div class="informationBoxContributorHeader">
					Advisor
				</div>
				<!-- Place this tag where you want the widget to render. -->
				<div class="g-person" data-href="https://plus.google.com/100613892326015493724" data-rel="author"></div>
				<div class="contributorContent">
					Tevin has always been a guide for us throught out this project. His ideas and contributions are inevitable. He has got an eagle's eye and it matters most for us. Around 2 years of experience in a constantly evolving field is most valuable asset and Tevin has got enough of it. 
					He works as a Software Developer (Python/Flask) in <a href="http://nuventure.in/">Nuventure Technologies</a> based out in Cochin.
				</div>
			</div>
		</div>
		<div class="informationBoxContainerContributor">
			<div class="informationBox">
				<div class="informationBoxContributorHeader">
					Bug Tracker
				</div>
				<!-- Place this tag where you want the widget to render. -->
				<div class="g-person" data-href="https://plus.google.com/104614993399614282862" data-rel="author"></div>
				<div class="contributorContent">
					Riyas as we call him, has been giving his 100 per cent effort in making this site bug free and hence you people have a better experience and we have better feedbacks.
					He is a voracious reader and a technology geek and never misses out anything new out there.
					He works as a Software Developer (Python) in <a href="http://www.qburst.com/">Qburst Technologies</a> based out in Trivandrum.
				</div>
			</div>
		</div>
	</div>
{% endblock %}