{% extends "layout.html" %}
{% load customFilters %}
{% block title %} - View Monthly Debts {% endblock %}
{% block head %}
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
  <script type="text/javascript" language="javascript" src="/js/jquery_loadTemplate.js"></script>
	<script>
    var exportURI = '{% url tuition.tools.views.export %}';
    var classHandle = {{classHandle|jsonify|safe}};
    classHandle = classHandle.DEBT;
    var addDebtURI = '{% url tuition.tools.views.addADebt %}';
    var exportHandle = {{exportHandle|jsonify|safe}};
	</script>
{% endblock %}
{% block alertSuccessContent %}
	<div id="deleteDebtSuccessAlert" class="content">
		<b>Great!</b> You successfully deleted the debt.
	</div>
  <div id="debtSuccessAlert" class="content">
    <b>Great!</b> You successfully marked your debt.    
  </div>
  <div id="debtReturnSuccessAlert" class="content">
    <b>Great!</b> You successfully marked your debt as returned.
    <br clear="all" />
    We have marked this as your expense against the Return date.
  </div>
{% endblock %}
{% block alertErrorContent %}
	<div id="deleteDebtErrorAlert" class="content">
		<b>Oops!</b> Could not delete the debt.
	</div>
  <div id="debtErrorAlert" class="content">
    <b>Oops!</b> Clean a few things up and try submitting again.
  </div>
{% endblock %}
{% block content %}
	<h2 class="marginTop2P5P">Your Monthly Debts</h2>
	<div class="glossary">
    <div class="firstLevel">
        <div class="filterLeft">
          {{yearFilterForm.yearSelect}}
        </div>
        <div class="filterRight">
        </div>
    </div>
    <div class="secondLevel">
  		{% for monthNumber, monthName in monthNameDict.items %}
  			<div class="contentContainer">
  				<input id="{{monthNumber}}" class="radioButton monthNumber" name="monthNameRadio" type="radio" value="{{monthNumber}}" />
  				<label class="contentLabel" for="{{monthNumber}}">{{monthName}}</label>
  			</div>
  		 {% endfor %}
    </div>
	</div>
	<div id="toolsContainer" class="logoutIconContainer marginBottomHalfP">
		<a id="exportToSpreadsheet" class="image exportSpreadsheetIcon" title="Export to Google Spreadsheet"></a>
    <span id="addDebtIcon" class="image icon addIcon" title="Add a Debt"></span>
	</div>
	<div class="filterMain">
		<div class="filterLeft">
			<a id="filterDebtByToday" href="javascript:void(0);" class="filterSub current">Today</a>
			|
			<a id="filterDebtByWeek" href="javascript:void(0);" class="filterSub">This Week</a>
			|
			<a id="filterDebtByMonth" href="javascript:void(0);" class="filterSub">This Month</a>
		</div>
		<div class="filterRight displayNone">
			<a id="sortDebtByDate" href="javascript:void(0);" class="filterSub current">Date</a>
			|
			<a id="sortDebtByAmount" href="javascript:void(0);" class="filterSub">Amount</a>
			|
			<a id="sortDebtByType" href="javascript:void(0);" class="filterSub">Type</a>
		</div>
	</div>
  <div class="popupContainer">
    {% include "templates/newDebtForm.html" %}
  </div>
  <div class="popupContainer">
    <div id="markAsReturnedContainer" class="formContainer">
      <form action="" method="post" class="addAnExpense" name="markAsReturned" id="markAsReturned">
        <div class="formLabel requiredField">
          Return Date
        </div>
        <div class="formField">
          {{ markAsReturnForm.markAsExpense }}
          <br clear="all" />
          <span id="error_markAsExpense" name="markAsExpense" class="showError"></span>
        </div>
        <div class="formLabel">
          Comments
        </div>
        <div class="formField">
          {{ markAsReturnForm.returnComments }}
          <br clear="all" />
          <span id="error_returnComments" name="returnComments" class="showError"></span>
        </div>
        <div class="saveButtonContainer">
          <input type="button" value="Save" id="saveMarkAsReturned">
          <input type="button" value="Close" id="cancelSaveMarkAsReturned" class="cancelSave">
          <input type="hidden" value="" name="debtReturnKeyHidden" id="debtReturnKeyHidden" />
        </div>
      </form>
    </div>
  </div>
	<table class="table table-striped">
   		<thead>
      		<tr class="blackHead">
	            <th>Type</th>
	            <th class="amount">Amount</th>
      				<th>Incurred Date</th>
              <th>Expected Return Date</th>
              <th>Returned Date</th>
      				<th>Comments</th>
      				<th>Actions</th>  
      		</tr>  
    	</thead>  
    	<tbody id="debtListContainer"></tbody>
  	</table> 
    <script>
  		$('#filterDebtByToday').bind('click', filterDebtByDate);
  		$('#filterDebtByWeek').bind('click', filterDebtByWeek);
  		$('#filterDebtByMonth').bind('click', filterDebtByMonth);
      $('#addDebtIcon').bind('click', function () {
          showPopUpForm('addDebtFormContainer'); 
      });
  		$('#exportToSpreadsheet').hide();
      $('#exportToSpreadsheet').bind('click', setExportURI);
  		$('div.filterMain').find('div.filterLeft').hide();
      bindOnClicksForDebtMonthFilter(true);
      $('#id_yearSelect').bind('change', binOnChangeForDebtYearFilter);
      $("#id_incurredDate" ).datepicker({'dateFormat' : 'dd/mm/yy'});
      $("#id_returnDate" ).datepicker({'dateFormat' : 'dd/mm/yy'});
      $("#id_expenseOfMonth" ).datepicker({'dateFormat' : 'dd/mm/yy'});
      $("#id_markAsExpense" ).datepicker({'dateFormat' : 'dd/mm/yy'});
      $('#saveADebtButton').on('click', function() {
          saveDebt(true);
          $(this).prop('disabled',true);
          $(this).val('Wait');
      });
      $('#saveMarkAsReturned').on('click', function() {
          markAsReturned();
          $(this).prop('disabled',true);
          $(this).val('Wait');
      });
      $('#cancelSaveDebtButton').on('click', function() {
          closePopUpForm('addDebt', true);
      });
      $('#cancelSaveMarkAsReturned').on('click', function() {
          closePopUpForm('markAsReturned', true);
      });
  		/*$('#sortExpenseByDate').bind('click', sortedByDate);
  		$('#sortExpenseByAmount').bind('click', sortedByAmount);
  		$('#sortExpenseByType').bind('click', sortedByType);*/
  		/*$('#exportToSpreadsheet').bind('click', function () {
  			createCSVAndExport('SpreadSheet');
  		});*/
    </script>
    <script type="text/html" id="debtListTemplate">
	  <tr data-id="key" class="hoverBlue">  
        <td data-content="type"></td>  
        <td class="amount formatme" data-content="amount"></td>
        <td data-content="incurredDate"></td>
        <td data-content="returnDate"></td>
        <td data-content="expenseOfMonth"></td>
        <td data-content="comments"></td>
        <td>
          <img class="image action delete" src="/images/delete.png" alt="Delete" title="Delete Debt" />
          <img data-class-append="hasReturned" class="image action accept" src="/images/accept.png" alt="Return" title="Mark as Returned" />
          <!--<img class="image action calendar" src="/images/calendar.png" alt="Return" title="Set Reminder on Google Calendar" data-link-wrap="calendarReminderURL" />-->
        </td> 
      </tr>
    </script>
    <script type="text/html" id="debtNoRecordsTemplate">
  	  <tr>
    		<th class="noRecords" colspan="8">
    			No Debts to list
    		</th>
  	  </tr>
    </script>
    <script type="text/html" id="debtTotalTemplate">
      <tr class="total">
        <td class="label">Total</td>
        <td id="totalValue" class="amount formatme value"></td>
      </tr>
    </script>
{% endblock %}	
